.CalendarDay__selected_span {
    background: #2696d3;
    color: white;
}

.CalendarDay__selected {
    background: #56baf0;
    color: white;
}

.CalendarDay__selected:hover {
    background: orange;
    color: white;
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
    background: rgb(33,
174,
155);
}